.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
}

.cell {
  flex: 1 1 0px;
  border-style: solid;
  background-color: lightgray;
  color: gray;
  border-color: black;
  padding: 10px;
}

.occupied {
  background-color: grey;
  color: black;
}
